@import '../../components/variables.scss';

h1{
  font-weight: 700;

  @include respond-max-width(xs){
    font-size: 24px;
  }
}
h2{
  font-weight: 500;
}

a{
  color: $activeTextColor;
  text-decoration: underline;
  &:hover,
  &:focus,
  &:visited,
  &:active{
    text-decoration: none;
  }
}

.dropdown{
  padding: 20px;
  ul{
    height: 0;
    transition: all linear .1s;
    min-width: 150px;
    width: 100%;
    list-style: none;
    padding:0 20px;
    margin:15px 0 0 0;
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    background: $bodyColor;
    overflow: hidden;
    li{
      position: relative;
      width:100%;
      display: block;
    }
  }

  &:hover{
    background: $bodyColor;
    > ul{
      height: auto;
      padding:20px;
    }
  }
}


.password-strength-wrapper{
  width: 100%;
  height:25px;
  color:$textColor;
  border:1px solid #444;
  margin: 15px 0;
  padding:1px 0 1px 5px;
  background-color:#333;
  position: relative;
  border-radius: 3px;
  .progress {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    color: #333;
  }
  &.weak {
    .none {
      display: none;
    }
    .weak{
      border:1px solid #F4B0B0;
      background: #FFCECE;
      display: inline-block;
      width: 25%;
    }
  }

  &.moderate .moderate{
    border:1px solid #E8E286;
    background: #FFFF99;
    display: inline-block;
    width: 50%;
  }
  &.good .good{
    border:1px solid #8FD566;
    background: #B3EEA2;
    display: inline-block;
    width: 75%;
  }
  &.strong .strong{
    border:1px solid #549A29;
    background: #8EE675;
    display: inline-block;
    width: 99.5%;
  }
}


.input-group{
  input[type=text],
  input[type=email],
  input[type=password]{
    background: rgba(0,0,0,0);
    border:1px solid $activeTextColor;
    padding:4px 10px;
    width: 100%;
    float:left;
    height: 45px;
    color: $activeTextColor;
  }

  .input-group-addon{
    font-weight: 700;
    cursor: default;
  }
}


h3.modal-divider{
  width:100%;
  text-align:center;
  border-bottom: 1px solid $textColor;
  line-height:0.1em;
  margin:40px 0;
  text-transform: uppercase;
  font-size: 13px;

  span{
    padding: 0 10px;
    background: #181819;
  }
}

.btn-primary{
  border-color: $ctaButtonColor;
  background: $ctaButtonColor;
  transition: .3s ease;
  &:hover,
  &:focus,
  &:visited,
  &:active{
    border-color: lighten($ctaButtonColor, 15%);
    background: lighten($ctaButtonColor, 15%);
  }
}

.btn-default{
  border-color: $textColor;
  background: transparent;
  color: $textColor;
  transition: .3s ease;
  &:hover,
  &:focus,
  &:visited,
  &:active{
    border-color: $textColor;
    background: $textColor;
    color: $invertedTextColor;
  }
}

body,html{
  font-family: $font-family;
  font-size: 14px;
  color: $textColor;
  line-height: 20px;
  background: $bodyColor;
  overflow-x:hidden!important;

  *{
    outline: none;
  }
}

.container-fluid{
  @include respond-max-width(sm){
    padding:0 !important;
  }
}


.col-centered{
  float: none;
  margin: 10px auto;
}

#logo{
  padding: 40px 20px;
}

