@import '../variables.scss';

// Icons

.iconTwitterSquare{
  .path1:before {
    @include iconFontSetup();
    content: "\e908";
    color: rgb(255, 255, 255);
  }
  .path2:before {
    @include iconFontSetup();
    content: "\e909";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}


.iconFacebookSquare{
  .path1:before {
    @include iconFontSetup();
    content: "\e90a";
    color: rgb(255, 255, 255);
  }
  .path2:before {
    @include iconFontSetup();
    content: "\e90b";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}

.iconPinterestSquare {
  .path1:before {
    @include iconFontSetup();
    content: "\e90c";
    color: rgb(255, 255, 255);
  }
  .path2:before {
    @include iconFontSetup();
    content: "\e90d";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}

.iconGooglePlus-square{
  .path1:before {
    @include iconFontSetup();
    content: "\e90e";
    color: rgb(255, 255, 255);
  }
  .path2:before {
    @include iconFontSetup();
    content: "\e90f";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
}

#footer{
  background: $footerColor;
  z-index:9;
  position: relative;
  width: 100%;
  height:$footerHeight;
  margin-top:40px;
  padding-top: 30px;
  @include respond-min-width(sm){
    padding-left:110px;
  }
  @include respond-max-width(sm){
    padding: 30px 20px;
    background: darken($popOutColor, 10%);
    height: auto;
  }

  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1280px)
  and (orientation: landscape){
    .container-fluid > .row > div:first-child{
      display:none;
    }

    .container-fluid > .row > div:nth-child(2){
      width: 33% !important;
    }
  }

  .categoryList{
    ul {
      -moz-column-count: 2;
      -moz-column-gap: 20px;
      -webkit-column-count: 2;
      -webkit-column-gap: 20px;
      column-count: 2;
      column-gap: 20px;
    }
  }

  ul{
    list-style: none;
    margin:0;
    padding:0;
    li{
      margin-bottom: 10px;
      a{
        text-decoration: none;
        color: rgba($textColor, .8);
        &:hover,
        &:focus,
        &:visited,
        &:active{
          color: $activeTextColor
        }
      }
    }
  }

  h4{
    color: $textColor;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  p{
    font-size:12px;
  }

  .footerLogo{
    height:110px;
    opacity:.2;
    position: relative;
    margin-top: 30px;
    img{
      height: 100%;
      position: relative;
      display: block;
    }
  }

  .footerGroup{
    margin-top:25px;
    input[type=text]{
      background: rgba(0,0,0,0);
      border:1px solid $activeTextColor;
      padding:4px 10px;
    }

    button{
      background: $textColor;
      border:0;
      padding:5px 10px;
      color: #000;
    }
  }

  .socialWrapper{
    @include respond-max-width(sm){
      margin: 30px 0;
    }
    .social{
      position: relative;
      li{
        float:left;
        i{
          font-size: 28px;
          margin-right: 5px;
          @media only screen
          and (min-device-width: 768px)
          and (max-device-width: 1280px)
          and (orientation: landscape){
            font-size: 25px;
          }

        }
      }
    }
  }


  .scrollUpButton{
    clear:both;
    margin: 30px 0 0 82px;
    width: 45px;
    height: 45px;
    border:1px solid $textColor;
    position: relative;
    cursor: pointer;
    @include respond-max-width(sm){
      margin:0;
      position: absolute;
      right: 20px;
      top: 10px;
      z-index: 5;
    }
    span{
      position: absolute;
      overflow: hidden;
      display: inline-block;
      font-size: 12px;
      width: 20px;
      height: 20px;
      margin-top: -2em;
      top: 40px;
      border-top: 2px solid #a9a9a9;
      border-left: 2px solid #a9a9a9;
      transform: rotate(45deg);
      left: 12px;
    }
  }

}
